<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="InvestingIS.Properties.Settings.ConnectionString"
   connectionString="Data Source=localhost;Integrated Security=True TrustServerCertificate=True Encrypt=False"
   providerName="System.Data.SqlClient" />
  <add name="InvestingIS.Properties.Settings.InvestingISConnectionString"
   connectionString="Data Source=DESKTOP-08AVRBK;Initial Catalog=InvestingIS;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>